<!--<?xml version="1.0" encoding="UTF-8"?>-->
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/todolist</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">2016aReV2017</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="connection.pool_size">10</property>
        <property name="current_session_context_class">thread</property>

        <mapping resource="ru/matevosyan/entity/Task.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
