

.mainBlock {
    width: 300px;
    border: solid 1px black;
    background: rgba(4, 80, 74, 0.39);
    margin: auto;
    padding: 5px;
}

.inline {
    display: inline-block;
}

.center {
    width: 185px;
    margin: auto;
}

.form {
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.logOutButton {
    position: relative;
    left: 101%;
    width: 61px;
}

body,
a {
    font-family: calibri;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}
body {
    background: #9fece1;
}
.main-wrap {
    background: #9fece1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.login-main {
    width: 300px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(11, 27, 20, 0.07);
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.error {
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.login-main p {
    text-indent: 10px;
}
.box1 {
    background: #ffd5ce;
    height: 40px;
    text-indent: 10px;
    width: 90%;
    margin-bottom: 2px;
    color: #34364b;
    font-size: 15px;
    font-weight: 400;
}
.border1 {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.border2 {
    -webkit-border-radius: 0px 0 5px 5px;
    -moz-border-radius: 0px 0 5px 5px;
    -ms-border-radius: 0px 0 5px 5px;
    -o-border-radius: 0px 0 5px 5px;
    border-radius: 0px 0 5px 5px;
}
.send {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    right: 9px;
    top: 20px;
    border: 5px solid #614c84;
    background: #ded4d3;
    font-size: 18px;
    color: #34364b;
    font-weight: normal;
    text-shadow: 1px 1px 2px #614c84;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.send:hover {
    animation: spin 0.3s ease-in-out;
    -webkit-animation: spin 0.3s ease-in-out;
    -moz-animation: spin 0.3s ease-in-out;
    -ms-animation: spin 0.3s ease-in-out;
    -o-animation: spin 0.3s ease-in-out;
    cursor: pointer;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}



