<web-app>

    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>ru.matevosyan.controllers.management.MainFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>ru.matevosyan.controllers.listener.PrepareRolesForDB</listener-class>
    </listener>

    <servlet>
        <servlet-name>UserAuth</servlet-name>
        <servlet-class>ru.matevosyan.controllers.management.UserAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAuth</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOffer</servlet-name>
        <servlet-class>ru.matevosyan.controllers.crud.AddOffer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOffer</servlet-name>
        <url-pattern>/offer</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>AddSignUpUser</servlet-name>
        <servlet-class>ru.matevosyan.controllers.crud.AddSignUpUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSignUpUser</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OfferInfoToJson</servlet-name>
        <servlet-class>ru.matevosyan.controllers.json.ConvertOfferInfoToJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfferInfoToJson</servlet-name>
        <url-pattern>/jsonOfferInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeSellStatus</servlet-name>
        <servlet-class>ru.matevosyan.controllers.json.ChangeSellStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeSellStatus</servlet-name>
        <url-pattern>/offerSellStatusValue</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>ru.matevosyan.controllers.management.SignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LastAddedOffers</servlet-name>
        <servlet-class>ru.matevosyan.controllers.json.LastAddedOffers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastAddedOffers</servlet-name>
        <url-pattern>/lastAddedOffers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllOffers</servlet-name>
        <servlet-class>ru.matevosyan.controllers.json.GetAllOffers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllOffers</servlet-name>
        <url-pattern>/allOffers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WithPhoto</servlet-name>
        <servlet-class>ru.matevosyan.controllers.json.OffersWithPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithPhoto</servlet-name>
        <url-pattern>/withPhoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WithBrands</servlet-name>
        <servlet-class>ru.matevosyan.controllers.json.OffersWithBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithBrands</servlet-name>
        <url-pattern>/withBrands</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcom-file>/WEB-INF/views/signIn.jsp</welcom-file>
    </welcome-file-list>

    <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
        <form-login-page>/WEB-INF/views/signIn.jsp</form-login-page>
        <!--<form-error-page>/WEB-INF/views/login_error.jsp</form-error-page>-->
    </form-login-config>
    </login-config>

</web-app>
