<web-app>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.matevosyan.servlet.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PrivilegesFilter</filter-name>
        <filter-class>ru.matevosyan.servlet.PrivilegesFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>PrivilegesFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>ru.matevosyan.servlet.SignOutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>ru.matevosyan.servlet.SignInController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>UsersServletController</servlet-name>
        <servlet-class>ru.matevosyan.servlet.UsersServletController</servlet-class>
        <!--<load-on-startup>1</load-on-startup>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServletController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>ru.matevosyan.servlet.InsertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>ru.matevosyan.servlet.UpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.matevosyan.servlet.DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>ru.matevosyan.servlet.ResultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>ru.matevosyan.servlet.listeners.DBListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>JsonUsersInfoGet</servlet-name>
        <servlet-class>ru.matevosyan.servlet.JsonUsersInfoGet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonUsersInfoGet</servlet-name>
        <url-pattern>/jsonUsersGet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonCountryPost</servlet-name>
        <servlet-class>ru.matevosyan.servlet.JsonCountryPost</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonCountryPost</servlet-name>
        <url-pattern>/jsonGetCountry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonCityPost</servlet-name>
        <servlet-class>ru.matevosyan.servlet.JsonCityPost</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonCityPost</servlet-name>
        <url-pattern>/JsonGetCity</url-pattern>
    </servlet-mapping>
</web-app>